 {% extends 'base.html.twig' %}



 {% block body %}

  <h1>New Product</h1>

  {{ include ('product/_form.html.twig') }}

  {# {{ form(form) }} #}
{# 
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

  {{form_row(form.name)}}
  {{form_row(form.description)}}
  {{form_row(form.size)}}

  {{ form_row(form.save, {'label': 'Create Product'}) }}

    {{form_end(form)}} #}


  {%endblock %}